body {
    background-color: #daf4ce;
    color: #1f196c;
  }
  
  a {
    color: #6b188c;
  }
  
  a:hover {
    color: #8918db;
    font-weight: bold;
  }
  
  .navbar, footer {
    background-color: #6b188c;
    color: #fff;
  }
  
  .navbar a, footer a {
    color: #fff;
  }
  
  .navbar a:hover, footer a:hover {
    color: #8918db;

  }
  
  .card {
    background-color: #fff;
    border: 1px solid #6b188c;
  }
  
  .card-title, .card-text {
    color: #1f196c;
  }
  
  .carousel .carousel-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  